<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="value" />
      <button @click="handleAdd">add</button>
      <v-list :list="list"></v-list>
    </div>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript">
      new Vue({
        el: '#app',
        data: {
          list: ['i', 'love', 'you', 'soo', 'much'],
          value: ''
        },
        methods: {
          handleAdd() {
            this.list.unshift(this.value);
            this.value = '';
          }
        },
        components: {
          'v-list': {
            template: `<ul><li v-for="item in list">{{item}}</li></ul>`,
            props: ['list']
          }
        }
      });
    </script>
  </body>
</html>
